@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&family=Sora:wght@300;400&display=swap');

:root {
  box-sizing: border-box;
  font-family: 'Sora', 'Roboto', sans-serif;
  font-size: calc(1vw + 0.6em);
}

*,
::before,
::after {
  box-sizing: inherit;
}

@media (min-width: 50em) {
  body {
    font-size: 1.125em;
  }
}

body {
  margin: 0;
}

input, textarea, button {
  font-family: inherit;
}